<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    
    <link rel="stylesheet" href="/stylesheets/book.css">
    <link rel="stylesheet" href="/stylesheets/all-books.css">
</head>

<body>
    {{>top}}

    <div class="items-container">
            {{#if books}}{{#each books}}
                <div class="item">
                    <a id="bookLink" href="/books/{{_id}}">
                        <img id="book" src="/books/{{image}}" alt="{{image}}"><br>
                        <div class="deal-msg"><small>Up to 59% off</small></div><span style="color: red;"><small>Deal</small></span><br>
                        <span id="price">{{price}}₹</span>
                        <span id="book-name">{{name}}</span>
                    </a>
                </div>
            {{/each}}{{else}}
                <h1 style="text-align: center; margin-top: 200px; color: red;">No Items Added in Your Wish List</h1>
            {{/if}}
    </div>
    
    {{>navbarScrollEffect}}
</body>
</html>