<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}

    <link rel="stylesheet" href="/stylesheets/my-account.css">
</head>

<body>
    {{>top}}

    {{#if user}}
    <div class="wrapper">
        <div class="left">
            <label for="usersImg">
                <img src="/Users/{{user.image}}">
            </label>
            {{#unless userImgUploaded}}
            <form action="/post-user-photo" method="post" enctype="multipart/form-data" id="userImgForm">
                <input type="file" name="image" id="usersImg">
            </form>
            {{/unless}}
            <h2>{{user.fullname}}</h2>
            {{#if user.admin}} <p style="color: rgb(43, 255, 0)">You're Admin</p>{{/if}}
        </div>
        <div class="right">
            <div class="info">
                <h3>Information</h3>
                <div class="info_data">
                    <div class="data">
                        <h4>Email</h4>
                        {{#if user.email}}
                        <p>{{user.email}}</p>
                        {{else}}
                        <p>unavailabe</p>
                        {{/if}}
                    </div>
                    <div class="data">
                        <h4>Phone</h4>
                        <p>{{user.mobile}}</p>
                    </div>
                </div>
            </div>

            <div class="projects">
                <h3>More Details...</h3>
                {{#unless user.admin}}
                <div class="projects_data">
                    <div class="data">
                        <h4>My Order</h4>
                        <a href="/my-order">Check your order list</a>
                    </div>
                    <div class="data">
                        <h4>My Cart</h4>
                        <a href="/my-cart">Check your Cart list</a>
                    </div>
                </div>
                {{/unless}}

                {{#if user.admin}}
                <div class="features">
                    <a href="/add-book"><p>Add Books</p></a>
                    <a href="/all-orders"><p>All orders</p></a>
                    <a href="/customers-massages"><p>Customer massage</p></a>
                    <a href="/books"><p>Delete Books</p></a>
                </div>
                {{/if}}
            </div>
            <h3 style="margin-top: 80px;"><a href="/logout">Logout</a></h3>
        </div>
    </div>
    {{else}}
    <h1>You are not Logged in</h1>
    {{/if}}

    <script>
        document.getElementById('usersImg').addEventListener('change', (e)=> {
            const file = e.target.files[0];            
            if(file) { document.getElementById('userImgForm').submit(); }
        })
    </script>
</body>

</html>