 <!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/stylesheets/other.css">
    <link rel="stylesheet" href="/stylesheets/book.css">

    <link rel="stylesheet" href="/stylesheets/product-details.css">
</head>
<body>
 {{>top}}

  <div class="items-container">
    <div class="first-row">
      <div class="product-img-container">
        <img class="product-img" src="/books/{{book.image}}" alt="">
      </div>
        
      <div class="product-details-container">
          <h1 class="name-heading">{{book.name}}</h1>
          
          <div class="product-details">
           {{#if book.auther}}<p class="by">By: {{book.auther}} <small> (Auther)</small></p>{{/if}}
          </div>

          <div class="price-qty">
            <p id="new-price">₹{{book.price}} <span class="off-msg">off 20%</span></p>
            <div class="qty-container">
              <span class ="minus" onclick="minus()">-</span>
              <input type="number" name="qty" value="1" class="qty" disabled>
              <span class="plus" onclick="plus()">+</span>
            </div>
          </div> <!-- price-qty -->
          
          <p class="price-before">M.R.P.: {{book.priceBefore}}</p> <!-- price-before -->

          <div class="quality">
            <div>
              <img src="/img-controller/icons/lock.png">
              <p>Quality Checked</p>
            </div>

            <div>
              <img src="/img-controller/icons/delivery.png">
              <p>Easy Return</p>
            </div>

            <div>
              <img src="/img-controller/icons/cashondelivery.png">
              <p>COD Available</p>
            </div>
          </div> <!-- quality -->

          <div class="description-container">
            <h2 class="description-heading">Book Description:</h2>
            <div class="description">{{book.description}}</div>  
          </div> <!-- description-container -->

          <div class="cart-buy-container">  
            {{#if user}}
              <input id="cart" onclick="addToCart('{{book._id}}');" type="submit" value="add to cart">
              <input id="buy" onclick="buyPage('{{book._id}}');" type="button" value="Buy Now">
            {{else}}
              <input id="cart" onclick="loginRedirect()" type="button" value="Add To Cart">
              <input id="buy" onclick="loginRedirect()" type="button" value="Buy Now">
            {{/if}}
            {{#if user.admin}}
              <input id="delete" onclick="deleteBook('{{book._id}}');" type="button" value="Delete">
            {{/if}}
          </div> <!-- cart-buy-container -->
      </div> <!-- product-details-container -->
    </div> <!-- first row -->
   
    <div class="specifications">
      <h2 class="specification-heading">Book Specification</h2>

      <div class="specification-content">
        <div class="contents">
          <div class="attribute">
            <p><b>ISBN-13</b></p>
            <p><b>Publisher</b></p>
            <p><b>Binding</b></p>
            <p><b>Language</b></p>
          </div>

          <div class="value">
            <p>{{book.isbn}}</p>
            <p>{{book.publisher}}</p>
            <p>{{book.binding}}</p>
            <p>{{book.language}}</p>
          </div>
        </div>

        <div class="contents">
          <div class="attribue">
            <p><b>No. of Pages</b></p>
            <p><b>Publisher Date</b></p>
            <p><b>Width</b></p>
            <p><b>Height</b></p>
          </div>

            <div class="value">
              <p>{{book.pages}}</p>
              <p>{{book.publishedDate}}</p>
              <p>{{book.width}}mm</p>
              <p>{{book.height}}mm</p>
            </div>
        </div>

      </div>
    </div>

    <div class= "second-row">
     <div class="middleware">
        {{!-- Books with the same Auther --}}
        <a class="see-more-btn" href="/books">See More...</a>   
        <h2 id="categorie-heading">Books With the same Auther</h2>
        <img src="/img-controller/icons/right-arrow.png" alt=">" class="right-arrow">
        <img src="/img-controller/icons/left-arrow.png" alt="<" class="left-arrow">
    
        <div class="scroll">
            {{#each sameAuther}}
                <div class="item">
                    <a id="bookLink" href="/books/{{_id}}">
                        <img id="book" src="/books/{{image}}" alt="{{image}}"><br>
                        <span id="auther">{{auther}} <span style="color:lightgray"> auther</span></span><br>
                        <span id="price">{{price}}₹</span>
                        <span id="book-name">{{name}}</span>
                    </a>
                </div> <!-- item -->
            {{/each}}
        </div> <!-- scroll -->
     </div> <!-- middleware -->
    </div> <!-- second row -->
  </div>
    {{>footer}}
    {{>navbarScrollEffect}}   
    <script src="/scripts/index.js"></script>
    <script>
     let qtyVal = document.querySelector('.qty');
     function plus() {
      if(Number(qtyVal.value) <= 5) {
        qtyVal.value = Number(qtyVal.value) + 1;
      }
     }
     function minus() {
      if(Number(qtyVal.value) >1) {
       qtyVal.value = Number(qtyVal.value) - 1;
      }
     }
        function addToCart(bookId) {
          fetch(`/add-to-cart/${bookId}/${qtyVal.value}`,
           {
               method: 'post',
               headers: { 'Content-Type': `application/json` }
           })
           .then((respone)=> {
            if(!respone.ok) { console.log('an error is occured'); }
            window.location.href=`/books/${bookId}`;
           })
           .catch((error)=> {
               alert('error to add item to the cart');
               console.log('script fetch ',error);
           });
        }

        function buyPage(bookId) {
          window.location.href=`/place-order/${bookId}/${qtyVal.value}`;
        }
        function loginRedirect() {
          window.location.href='/sign-in-up';
        }

        function deleteBook(bookId) {
          fetch(`/delete/${bookId}`,
            {
              method: 'post',
              headers: { 'Content-Type': `application/json` }
            })
            .then((respone)=> {
              if(!respone.ok) { console.log('an error is occured'); }
            }).then(()=> {
              window.location.href='/';
              alert('Successfully deleted');
            })
            .catch((error)=> {
              alert('error in deleting book');
              console.log('script fetch ',error);
            })
        }

        function addToLike(bookId) {
          fetch(`/add-to-likes/${bookId}`,
           {
               method: 'post',
               headers: { 'Content-Type': `application/json` }
           })
           .then((respone)=> {
           if(!respone.ok) {
               console.log('an error is occured');
           }})
           .catch((error)=> {
               alert('You are not logged in');
               console.log('script fetch ',error);
           });
        }
    </script>
</body>
